@model IEnumerable<Pecadus.MVC4.Models.ProdutoModel>

<!-- ====================== SLIDER CAROUSEL ====================== */ -->
<section class="slider">
    <div class="container">
        <div class="row">
            <div id="slider-pecadus" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#slider-pecadus" data-slide-to="0" class="active"></li>
                    <li data-target="#slider-pecadus" data-slide-to="1"></li>
                    <li data-target="#slider-pecadus" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="hidden-xs" src="images/slider/banner-01.jpg" alt="Banner 01">
                        <img class="visible-xs" src="images/slider/banner-01-mob.jpg" alt="Banner 01">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img class="hidden-xs" src="images/slider/banner-01.jpg" alt="Banner 01">
                        <img class="visible-xs" src="images/slider/banner-01-mob.jpg" alt="Banner 01">
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img class="hidden-xs" src="images/slider/banner-01.jpg" alt="Banner 01">
                        <img class="visible-xs" src="images/slider/banner-01-mob.jpg" alt="Banner 01">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#slider-pecadus" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#slider-pecadus" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ====================== CHAMADA BANNERS ====================== */ -->
<section class="banners hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#" title="Brinquedos e Acessórios para Elas">
                    <img class="img-responsive" src="images/banners/para-elas.jpg" alt="Brinquedos e Acessórios para Elas">
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" title="Brinquedos e Acessórios para Eles">
                    <img class="img-responsive" src="images/banners/para-eles.jpg" alt="Brinquedos e Acessórios para Eles">
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" title="Brinquedos e Acessórios para Nós">
                    <img class="img-responsive" src="images/banners/para-nos.jpg" alt="Brinquedos e Acessórios para Nós">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ====================== SLIDER PRODUTOS ====================== */ -->
<section class="slider-produtos vitrine-protudos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>Os Mais Vendidos</h2>
            </div>
        </div>
        <div class="customNavigation visible-xs">
            <a class="btn prev"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
            <a class="btn next"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </div>
        <div id="owl-demo" class="owl-carousel owl-theme">
            <!-- ITENS DESTAQUE -->
            @Html.DisplayForModel("_DisplayProdutoDestaque")
        </div>
    </div>
</section>

<!-- ====================== BANNER CENTRO SITE ====================== */ -->
<section class="banners-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" title="Brinquedos e Acessórios para Elas">
                    <img class="img-responsive hidden-xs" src="images/banners/frete-gratis.jpg" alt="Frete Grátis">
                    <img class="img-responsive visible-xs" src="images/banners/frete-gratis-mob.jpg" alt="Frete Grátis">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ====================== PRODUTOS ====================== */ -->
<section class="produtos-destaque vitrine-protudos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span class="glyphicon glyphicon glyphicon-stop" aria-hidden="true"></span>Produtos Destaque</h2>
            </div>
        </div>
        <div class="row">
            <!-- ITENS -->
            @Html.DisplayForModel("_DisplayProduto")
        </div>
    </div>
</section>