  <!-- ====================== NAVEGAÇÃO - BREADCRUMB ====================== */ -->
<nav class="pec-breadcrumb hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="#">Home</a></li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">Cadastro</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</nav>
<!-- ====================== CONTEUDO CATEGORIAS ====================== */ -->
<section class="cadastro cont-int">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Cadastro</h2>
            </div>
        </div>
        <div class="row">
            <form class="cadastro-form">
                <div class="col-md-6">
                    <h3>Dados pessoais</h3>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputNome1">Nome</label>
                            <input type="text" class="form-control" id="exampleInputNome1" placeholder="Nome Completo">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputCPF1">CPF</label>
                            <input type="text" class="form-control" id="exampleInputCPF1" placeholder="Digite aqui seu CPF">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <label for="exampleInputDataNasc1">Data de Nascimento</label>
                            <input type="text" class="form-control" id="exampleInputDataNasc1" placeholder="00/00/0000">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <label for="exampleInputTelRes1">Telefone Residencial</label>
                            <input type="text" class="form-control" id="exampleInputTelRes1" placeholder="(00) 0000-0000">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="form-group">
                            <label for="exampleInputTelCel1">Celular</label>
                            <input type="text" class="form-control" id="exampleInputTelCel1" placeholder="(00) 00000-0000">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h3>Endereço para entrega</h3>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control" id="txtDscEndereco" placeholder="Rua, av., praça,...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="txtDscComplemento" placeholder="Apto, Bloco, Fundos,...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="cidade">Bairro</label>
                            <input type="text" class="form-control" id="txtNomBairro" placeholder="Bairro">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="txtNomCidade" placeholder="Cidade">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                        <div class="form-group">
                            <label for="estado">UF</label>
                            <select class="form-control" name="txtNomEstado" id="txtNomEstado">
                                <option value="" disabled selected>UF</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" id="txtDscCep" placeholder="CEP">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <h3>Dados para acesso</h3>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="exampleInputSenha1">Senha</label>
                            <input type="password" class="form-control" id="exampleInputSenha1" placeholder="Senha">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="exampleInputConfirmSenha1">Confirmar Senha</label>
                            <input type="password" class="form-control" id="exampleInputConfirmSenha1" placeholder="Senha">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a href="" title="#" class="btn btn-secundary" aria-label="Left Align" role="button">Enviar</a>
                    </div>
                </div>
            </form>
        </div><!-- Final Row -->
    </div>
</section>

